a {
  background-color: var(--bs-primary-bg-subtle);
  color: var();
  border-radius: 0.5em;
  font-size: 1rem;
  padding: 0.8rem;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
.active-link {
  background-color: var(--bs-info-bg-subtle);
}
